body{
  margin-top:100px;
  font-size:16px;
  background-color: #f4f4f4;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.navbar-default{
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  margin: auto;
  font-size: 25px;
}

h3{
  font-size:30px;
  margin-bottom:20px;
}

#showcase img{
width: 100%;
min-height: 400px;
height: 400px;
padding: 10px;
}

#showcase .showcase-right, .showcase-left,
#info1 .info-left{
    background-color: #000;
    color: #fff;
  text-align: center;
}

#showcase
.showcase-right:hover,
.showcase-left:hover,
#info1 .info-left:hover {
  background-color: #eeeeee;
  color: #000;
  text-align: center;
}

#testimonial{
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 90%;
  margin:auto;
  margin-top:40px;
}

#testimonial img{
  height: 400px;
  width: 100%;
  padding: 30px;
  margin: auto;
  margin-left: -35px;
}

#testimonial:hover {
  background-color: #eeeeee;
  color: #000;
}

#info1 .info-right, .info-left{
  margin-top:90px;
}

#info1 .info-left img {
  width: 100%;
  height: 450px;
  padding: 10px;
}

#info1 .info-right {
  padding-top: 80px;
  text-align: right;
}

#info2{
  margin:20px 0 60px 0;
}

#info2 .info-right {
  padding-top: 70px;
}

#contact{
  background:url(../img/contact.jpg);
  padding:100px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

#logo {
  width: 100%;
}

.social {
  display: grid;
  background-color: #000;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-auto-rows: minmax(10%, auto);
  width: 100%;
  border-bottom: #000000 3px solid;
}


.social #insta{
width: 100px;
height: 125px;
display: block;
margin: auto;
margin-right: 20px;
}

.social #fb{
width: 100px;
height: 100px;
display: block;
margin: auto;
margin-left: 20px;
}


footer{
  padding:30px;
}
